.title-header {
  margin: 0 auto;
  padding: 40px 0;
  color: black;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.img-product {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header-wishlist {
  border: white;
}
.header-wishlist-title th {
  border-top: transparent !important;
}
